### BEGIN INIT INFO
# Provides: fuse
# Required-Start: $local_fs $network $syslog
# Should-Start: $remote_fs $named $time
# Required-Stop: $local_fs $network $syslog
# Should-Stop: $remote_fs $named
# Default-Start: 2 3 4 5
# Default-Stop: 0 1 6
# Short-Description: Red hat Fuse
# Description: Open Source OSGi ESB - Red Hat Fuse 6.1
### END INIT INFO

#--------------------------------------------------------------------
# The only edits needed should be in the INIT INFO block above
# and between the lines of dashes below.  If any other
# changes are needed, or you find a way to enhance the script,
# consider posting to the PostgreSQL hackers list.
#--------------------------------------------------------------------

# Installation prefix
prefix=<%= node["fuse"]["install"]["dir"] %>
user=<%= node["fuse"]["install"]["user"] %>

#--------------------------------------------------------------------

start_fuse() {
    su - $user -c "$prefix/bin/start"
}

stop_fuse() {
    su - $user -c "$prefix/bin/stop"
}

restart_fuse() {
    stop_fuse
    start_fuse
}


if [ ! -d $prefix ]; then
    echo "$prefix: No such file or directory"
    exit 1
fi

case $1 in
    start)
        echo "Starting FUSE"
        start_fuse
        ;;
    stop)
        # change user to $user
        echo "Stopping FUSE - begin"

        echo "Stopping FUSE - containers"
        for instance in `ls $prefix/instances |grep -v instance.properties`; do
            su - $user -c "$prefix/instances/$instance/bin/stop"
        done

        echo "Stopping FUSE - fabric"
        stop_fuse

        echo "Stopping FUSE - done"
        ;;
    reload | force-reload | restart)
        echo "Restarting FUSE"
        restart_fuse
        ;;
    status)
        instances_c=`ps -ef |grep fuse |grep zookeeper |wc -l`
        fab_c=`ps -ef |grep fuse |grep -v zookeeper |grep java |wc -l`
        echo "FUSE active processes: Fabric [$fab_c], Instances [$instances_c]"
        exit 1
        ;;
    *)
        echo "Usage: /etc/init.d/<%= node["application"] %> {start|stop|restart}"
        exit 1
        ;;
esac

